:root {
  --fontColor: #ffffff;
  --shadowSize: 2px 4px 2px 0px rgba(119, 119, 119, 0.93);
  --font-family: "Bitter", serif;
}
* {
  box-sizing: border-box;
  font-family: var(--font-family);
  border-radius: 5%;
}
body {
  margin: 0 auto;
  background-image: url("/Images/backgorundIMG.png");
  background-repeat: no-repeat;
  background-size: 90em 46em;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 2.6fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
}

header {
  grid-area: header;
}
main {
  grid-area: main;
}
.box {
  position: fixed;
  margin-left: 38px;
  margin-top: 38px;
  background-color: #f3f6f7;
  width: 82vw;
  height: 90vh;
  box-shadow: 2px 7px 10px;
  border-radius: 18px;
}
.wordbox {
  position: absolute;
  top: 10%;
  transform: translateY(-50%);
  margin-left: 30px;
  font-size: 50px;
  display: flex;
}
.words {
  display: inline-block;
  font-size: 50px;
}
.words span {
  position: absolute;
  top: 0;
  overflow: hidden;
  animation: animate 10s linear infinite;
  opacity: 0;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  2% {
    opacity: 1;
    transform: translateY(0px);
  }
  18% {
    opacity: 0;
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}
.words span:nth-child(1) {
  animation-delay: 0s;
}
.words span:nth-child(2) {
  animation-delay: 2s;
}
.words span:nth-child(3) {
  animation-delay: 4s;
}
.words span:nth-child(4) {
  animation-delay: 6s;
}
.words span:nth-child(5) {
  animation-delay: 8s;
}
.wordboxtwo {
  position: absolute;
  top: 50%;
  margin-left: 70px;
  font-size: 40px;
  transform: translateY(-50%);
  text-shadow: 1px 1px 2px;
}
.wordstwo {
  display: inline-block;
  font-size: 40px;
}
.wordstwo span {
  position: absolute;
  top: 0;
  overflow: hidden;
  animation: animate1 10s linear infinite;
  opacity: 0;
}
@keyframes animate1 {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  2% {
    opacity: 1;
    transform: translateY(0px);
  }
  18% {
    opacity: 0;
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}
.wordstwo span:nth-child(1) {
  animation-delay: 0s;
}
.wordstwo span:nth-child(2) {
  animation-delay: 2s;
}
.wordstwo span:nth-child(3) {
  animation-delay: 4s;
}
.wordstwo span:nth-child(4) {
  animation-delay: 6s;
}
.wordstwo span:nth-child(5) {
  animation-delay: 8s;
}
footer {
  grid-area: footer;
}

/* .news {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: lightgray;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  border-bottom: 10px solid white;
  align-items: stretch;
  letter-spacing: 3%;
}
.card-img-top {
  height: 300px;
  border-radius: 5px 5px;
}
.card-img-top {
  height: 250px;
}
.source-date {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}
.btn-num {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}
.activeCard {
  border-bottom: 10px solid #22289a;
} */ ;
