:root {
  --fontColor: #ffffff;
  --shadowSize: 2px 4px 2px 0px rgba(119, 119, 119, 0.93);
  --font-family: "Bitter", serif;
}
* {
  box-sizing: border-box;
  font-family: var(--font-family);
  border-radius: 5%;
}
body {
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
  background-image: url(Images/Background_main1.jpg);
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 2.6fr 0.2fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "footer footer footer footer";
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

main {
  grid-area: main;
}

/* .news {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: lightgray;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  border-bottom: 10px solid white;
  align-items: stretch;
  letter-spacing: 3%;
}
.card-img-top {
  height: 300px;
  border-radius: 5px 5px;
}
.card-img-top {
  height: 250px;
}
.source-date {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}
.btn-num {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}
.activeCard {
  border-bottom: 10px solid #22289a;
} */
