:root {
  --mainColor: #ffffff;
  --sportsColor: #3a6ea5;
  --politicsColor: #3e6d8e;
  --buisnessColor: #274c77;
  --worldwideColor: #0e7395;
  --fontColor: #ffffff;
  --shadowSize: 2px 4px 2px 0px rgba(119, 119, 119, 0.93);
  --font-family: "Bitter", serif;
}
* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
  border-radius: 5%;
}
body {
  max-height: 100vh;
  max-width: 100vw;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.6fr 1.6fr 1.6fr 1.6fr;
  gap: 1px 1px;
  grid-template-areas:
    "one one two two three three four four"
    "one one two two three three four four";
}

header {
  left: 0;
  bottom: 0;
}
#icon {
  width: 100px;
  height: 100px;
  box-shadow: var(--shadowSize);
}
.topnav {
  background-color: white;
  overflow: hidden;
  float: right;
  margin-top: -80px;
  font-family: var(--font-family);
}
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
  font-size: 20px;
}
.topnav a:hover {
  background-color: black;
  color: white;
}
.topnav a.active {
  background-color: white;
  color: black;
}

.grid-container :hover {
  transition: width 0.5s, height 1s, transform 1s;
  translate: 1.2 ease;
  transform: translate(-10px, -5px);
}
.one {
  grid-area: one;
  margin: 0;
  margin-left: 45px;
  margin-top: 30px;
}

.two {
  grid-area: two;
  margin: 0;
  margin-left: 45px;
  margin-top: 30px;
}
.three {
  margin: 0;
  margin-left: 45px;
  margin-top: 30px;
  grid-area: three;
}
.four {
  grid-area: four;
  margin: 0;
  margin-left: 45px;
  margin-top: 30px;
}
#sport {
  box-shadow: var(--shadowSize);
}
#politics {
  box-shadow: var(--shadowSize);
}
#buisness {
  box-shadow: var(--shadowSize);
}
#worldwide {
  box-shadow: var(--shadowSize);
}
footer {
  display: transparent;
  position: sticky;
  width: 100vw;
  margin-top: -344px;
  color: white;
  text-align: center;
  position: fixed;
  height: 100vh;
  background-color: #e9ecef;
  border-radius: 610% 610% 610% 610% / 160% 160% 140% 140%;
  box-shadow: -3px -3px 8px #e6e6e6;
}
